DB_TYPE=postgres # 
DB_HOST=localhost
DB_USER=your-username
DB_PASSWORD=your-password
DB_NAME=your-database
DB_PORT=5432


GOOGLE_CLIENT_ID=asdfasdfasdfasdf
GOOGLE_CLIENT_SECRET=asdfasdf
GOOGLE_REDIRECT_URI=http://localhost:3000/api/v1/auth/google/redirect
GOOGLE_CLIENT_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback